body {
  background-color: #030712;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.star {
  color: gray;
  cursor: pointer;
  user-select: none;
  margin-right: 10px;
}

.star.filled {
  color: gold;
}

p {
  font-size: 12px;
  color: #fff;
  text-align: center;
}